footer{
    margin-top: 70px;
    margin-bottom: 70px;

}
p, h1{
    padding: 10px;
    margin: 0%;
}
section{
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
}
article{
    min-width: 300px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid steelblue;
    background-color: white;
}
input{
    width: 300px;
    border: none;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 30px;
}
input, label, h3, #district{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    display: block;
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    float: right;
    border: none;
    background-color: rgb(175, 102, 243);
}
#district{
    height: 50px;
}
header p{
    text-align: left;
}
article h3{
    font-family: Helvetica ;
    letter-spacing: 2px;
}

input:focus{
    outline: none !important;
    border: none;
    border-bottom:1px solid black;
}
header p::first-line{
    font-weight: bold;
    color: rgb(76, 0, 255);
}
article h3::after{
    content: "*";
    color: red;
}

input[name^="option"]{
    width: 20px;
    height: 20px;
}

#side{
    position: fixed;
    background-color: white;
    width: 25%;
    margin-left: 30%;
}

img{
    display: block;
    margin-left: auto;
}
#main{
    position: relative;
    left: 0%;
    width: 50%;
    padding: 1%;
}

button{
    float: left;
}
button:hover{
    transform: scale(1.1);
    
}


.contactDetails{
    font-size: larger;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 2px;
}

.address{
    text-align: left;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 2px;
}